* text=auto eol=lf

*.java text eol=lf
*.kt text eol=lf
*.xml text eol=lf
*.gradle text eol=lf
*.properties text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.hpp text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.sh text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.ico binary
*.ttf binary
*.otf binary
*.jar binary
*.aar binary
*.so binary
*.apk binary
*.zip binary
*.keystore binary
*.jks binary